.Likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

button {
  width: 25px;
  height: 25px;
  background-color: #202020;
  color: #bebebe ;
  border-style: none;
}

h2 {
  margin: 0px 10px;
}